[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Pp]ackages/com.unity.package-manager-ui/
[Pp]rojectSettings/EditorBuildSettings.asset
UserSettings/
*.csproj
*.sln
*.user
*.unityproj
.DS_Store
*.apk
*.unitypackage
